
.divbase{
    position:absolute;
	background-size:auto;
	background-repeat:repeat-y;
    height: 100%;
    width:100%;
	background: url("../../../../public/bk.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

.head_one{
    float: left;
    margin: 0px;
    padding: 0px;
}

.head_two{
    float: left;
    margin: 0px;
    padding: 0px;
}

.divbody_one{
	position: relative;
  background-color: rgba(255,255,255,0.5);
    color: white;
    float: left;
    height:53%;
	border-radius:35px;
/*	box-shadow: 10px 10px 5px #aaaaaa;*/
	width:25%;
	margin:20px;
	}

.divbody_two{
	border-radius:35px;
    position:static;
    color:white;
	text-emphasis:bold;
	background-color: rgba(255,255,255,0.5);
/*	box-shadow: 10px 10px 5px #aaaaaa;*/
    margin-right: 10px;
    float: right;
    height: 53%;
	align-self: center;
	width:65%;
	margin:20px;
	margin-left:5px;
}

.divheading{
    font-size: 2em;
	
    background-color: rgba(255,255,255,0.5);
    color: white;
    text-align: center;
    width: 100%;
	padding: 1em;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.divleftpanel{
    position: relative;
    padding: 0.5em;
}

.bbt{
    margin-bottom: 0px;
}

.dropdown{
    border: 2px black solid;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    
    width: 10em;
    height: 8em;

}

.dropdownon{
    display: none;
}

.toy{
    display: inline-block;
    width: 33%;
    height: 3em;
    padding: 0px;
    text-align: center;
    margin: 0px;
}

.toy:hover{
    border: 1px lightblue solid;
}

.divtitletab{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    background-color: rgba(0,0,0,0.5);;
    padding: 1em;
    margin-bottom: 0.5em;
    text-align: center;
	border-radius:35px;
	width:100%;
}


.divtitletab:active{
    border: 2px solid lightblue;
}

.tabs_settings{
    width: 0px;
    border: 0px;
    background-color: none;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0px;
    text-align: center;
}
.tabs_settings2:active{
    border: 1px lightblue solid;
}

.scroller{
    overflow: auto;
}
::-webkit-scrollbar {
    width: 10px;
	border-top-right-radius: 35px;
}

::-webkit-scrollbar-track {
    background:linear-gradient(red,orange,yellow,green,indigo,violet) ;
	border-radius: 10px;
	border: 0.5px solid black
}
::-webkit-scrollbar-thumb {
  background:hsla(0,100%,99%,0.75);border-radius: 10px;
	border: 0.5px solid black;
}


.addtask{
    color: black;
    padding: 10px;
}
.addspan{
    float: left;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 1.5em;
    padding-right: 30px;
	
}

.kid{
	border-radius:35px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    padding-right: 20px;
	background-color: rgba(255,255,255,0.5);
	padding: 1em;
	margin-left:2px;
	text-align: center;
	    font-size: 1em;
    
}
.add{
	background-color:#F2273B;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
	border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.addsub{
    float: left;
    padding-left: 0px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: center;
	margin-left:5px;
}

.left_title{
    width: 100%;
    text-align: center;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 2em;
}

.left_detail{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    width: 80%;
	font-size: 30px;
    margin-left: 20%;
	text-align: match-parent;
}
.left_phone{
    color: black;
    max-width:25em;
    margin-top: 2em;
    align-content:match-parent;
    background-color: white;
    text-align: center;
	border: none;
    padding: 15px 32px;
	border-radius: 12px;
  font-size: 16px;
}
.datain{
	border-radius: 35px;
	border: none;
}
.divdelete {
	background-color:#F2273B;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
	border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.tags_body{
    margin-left: 70%;
}

.tags_form{
    width: 1.4em;
    background-color: blue;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 2px;
}

option{
    border:5px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;;
}

.labelton{
    border:3px rgb(226, 114, 207) solid;
    border-radius: 10px;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

.labelton_1{
    background-color: yellowgreen;
}

.labelton_2{
    background-color: pink;
}

.labelton_3{
    background-color: rgb(222, 184, 135);
}



@media only screen and (max-width: 1000px), screen and (max-height: 600px) {
  
  .addtask{
      width: 100%;
    }
  .kid{
      width: 100%;
  }
  
  .left_title{
    width: 100%;
    text-align: center;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 2em;
    color: white;
  }

  .left_detail{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    width: 80%;
	font-size: 30px;
    margin-left: 20%;
    color: white;
	text-align: match-parent;
  }

  .divbody_two{
    border-radius:35px;
    position:static;
    color:white;
	text-emphasis:bold;
	background-color: rgba(31, 29, 29, 0.5);
/*	box-shadow: 10px 10px 5px #aaaaaa;*/
    margin-right: 10px;
    float: right;
    height: 53%;
	align-self: center;
	width:90%;
	margin:20px;
	margin-left:5px;
  }

  .divbody_one{
	position: relative;
  background-color: rgba(255,255,255,0.5);
    color: white;
    float: left;
    height:30%;
	border-radius:35px;
/*	box-shadow: 10px 10px 5px #aaaaaa;*/
	width:80%;
	margin:20px;
	}

  .divbase{
    position:absolute;
	background-size:auto;
	background-repeat:repeat-y;
    height: 300%;
    width:100%;
	background: url("../../../../public/bk.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}